# Copy to terraform.tfvars and adjust. terraform.tfvars is git-ignored.
project      = "esl"
environment  = "prod"
region       = "eu-west-1"
github_repo  = "https://github.com/lerljaku/esl"
admin_emails = ["lerljaku@gmail.com"]
